TIND_API_KEY=To be filled in
TIND_API_URL=https://digicoll.lib.berkeley.edu/api/v1
DEFAULT_STORAGE_DIR=/pdfs
PROMPT_TEMPLATE = prompt_templates/initial_prompt.txt
OLLAMA_URL=http://ollama:11434
CHAT_BACKEND=ollama
CHAT_MODEL=gemma3n:e4b
CHAT_TEMPERATURE=0.7
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=willa
POSTGRES_PORT=5432
CHAINLIT_AUTH_SECRET="output of chainlit create secret"
CALNET_ENV=test
CALNET_OIDC_CLIENT_ID=enter_the_id_here
CALNET_OIDC_CLIENT_SECRET=enter_the_secret_here
LANCEDB_URI=s3://mybucket
ALLOW_HTTP=true
# S3 configuration.
AWS_ACCESS_KEY_ID="random-key"
AWS_SECRET_ACCESS_KEY="99h23kj23i923jk23j124j"
AWS_ENDPOINT_URL=http://localstack:4566
EMBED_BACKEND=ollama
EMBED_MODEL=nomic-embed-text
LANGFUSE_HOST=https://us.cloud.langfuse.com
LANGFUSE_PUBLIC_KEY=pk-abcdefghijklmn
LANGFUSE_SECRET_KEY=sk-01234567890
