TIND_API_KEY=To be filled in
TIND_API_URL=https://digicoll.lib.berkeley.edu/api/v1
DEFAULT_STORAGE_DIR=/pdfs
PROMPT_TEMPLATE = prompt_templates/initial_prompt.txt
OLLAMA_URL=http://ollama:11434
CHAT_MODEL=gemma3n:e4b
CHAT_TEMPERATURE=0.7
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=willa
POSTGRES_PORT=5432
CHAINLIT_AUTH_SECRET="output of chainlit create secret"
